<div class="flex">
  <a class="btn btn-outline-secondary ml-24 w-80 flex-initial pt-4" href="https://www.village-des-enfants.fr/">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "EST.png", alt: "alttext" %>
    </div>
    <h2>Pour les petits</h2>
    <p>Village des<br>enfants</p>
  </a>

    <a class="btn btn-outline-secondary ml-24 w-80 flex-initial pt-4" href="https://www.valdisere.com/activites-bien-etre/centre-aquasportif/">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "Towels.png", alt: "alttext" %>
    </div>
    <h2>Activités</h2>
    <p>Centre Aquasportif<br>OXYGENE</p>
  </a>
</div>

