<div class="flex">
  <a class="btn btn-outline-secondary ml-24 w-80 flex-initial pt-4" href="https://www.valdisere.com/">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "Mairie.png", alt: "alttext" %>
    </div>
    <h2>Contact</h2>
    <p>Office de<br>Tourisme</p>
  </a>

    <a class="btn btn-outline-secondary ml-24 w-80 flex-initial pt-4" href="http://hotelblizzard.com/fr">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "snow-black.png", alt: "alttext" %>
    </div>
    <h2>Contact</h2>
    <p>Le Blizzard<br>Hôtel</p>
  </a>
</div>
