
  <a class="btn btn-outline-secondary w-1/4 pt-4" href="https://www.valdisere.com/guide-du-village/shopping/">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "shop.png", alt: "alttext" %>
    </div>
    <h2>50M</h2>
    <p>Distance des<br>Commerces</p>
  </a>

  <a class="btn btn-outline-secondary w-1/4 pt-4" href="https://www.valdisere.com/live/plan-des-pistes/">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "Ski.png", alt: "alttext" %>
    </div>
    <h2>150M</h2>
    <p>Distance des<br>Pistes</p>
  </a>

  <a class="btn btn-outline-secondary w-1/4 pt-4" href="https://www.village-des-enfants.fr/">
    <div id="shop-icon" class="mx-auto" >
      <%= image_tag "EST.png", alt: "alttext" %>
    </div>
    <h2>Pour les petits</h2>
    <p>Village des<br>enfants</p>
  </a>
