<div class="text-presentation flex-auto mr-24 sm:-mr-24">
  <h2 id="h2" class= "mb-8"> Services & Conciergerie </h2>
  <ul>
    <li class="text-justify leading-loose font-bold">
      <strong>Inclus</strong>
    </li>
    <li class="text-justify leading-loose">
      Blanchisserie pour le linge de maison <br>
      Service ménage 2h chaque jour <br>
      Conciergerie de l’Hôtel Blizzard 5 étoiles Luxe, à disposition
    </li>

    <li class="text-justify leading-loose font-bold mt-6">
     <strong>En option et à la carte</strong>
    </li>
    <li class="text-justify leading-loose mt-6">
      Service petit déjeuner sur place (viennoiseries et pain frais, café, thé jus de fruit, et confiture). 15€ par jour et par personne.
    </li>

    <li class="text-justify leading-loose mt-6">
      Accès privilégié au petit déjeuner buffet de l’Hôtel BLIZZARD. Règlement auprès de l’hôtel.
    </li>
    <li class="text-justify leading-loose mt-6">
      Cave à vins à disposition, sur une sélection de Bordeaux rouges et de Bourgognes Rouges et Blancs. Indication de tarif sur place.
    </li>
    <li class="text-justify leading-loose mt-6">
      Mise en relation personnalisée pour la logistique liée à votre équipement de ski (location-conseils auprès de l’équipe SWEAT SKI).
    </li>
    <li class="text-justify leading-loose mt-6">
      Réservation auprès de l’Ecole du Ski Français ou du Bureau des guides de haute montagne TETRAS, des moniteurs et guides de confiance.
    </li>
    <li class="text-justify leading-loose mt-6">
      Mise à disposition d’un chef à domicile sur demande, pour recevoir sur mesures et à la carte.
    </li>
  </ul>
</div>

<div id="img-p3" class="clocher flex-auto">
  <%= image_tag "Services.jpg", alt: "alttext" %>
</div>
