<div id="p2" class="lg:flex">
  <div id="descri-mob" class="clocher flex-auto mr-32">
    <%= image_tag "Description.jpg", alt: "alttext" %>
  </div>

  <div class="text-presentation flex-auto">
    <h2 id="h2" class= "mb-8"> Descriptif </h2>
    <p class="text-justify leading-loose">
      Situé en 4ème et dernier étage de la toute récente résidence
      « les Choucas », sur une surface de110 m2, bénéficiant de
      grandes hauteurs sous plafond.
    </p>
    <p class="text-justify leading-loose">
      L’appartement présente 3 chambres (grands lits doubles), dont une Master
      Bedroom et un duplex privatif, toutes dotée d’un WC, baignoire et douche.
    </p>
    <p class="text-justify leading-loose">
      Cuisine fonctionnelle, ouverte sur la salle à manger
      lumineuse, pouvant accueillir jusqu’à 10 convives.
    </p>
    <p class="text-justify leading-loose">
      Confortable salon orienté sud-est, au panorama ouvrant sur Solaise et Bellevarde, dans une atmosphère douillette et chaleureuse, rendue conviviale
      par la cheminée en pierre.
    </p>

    <p class="text-justify leading-loose">
      Un salon TV, modulable en espace de vie privatif pour la chambre en suite duplex.
    </p>

    <p class="text-justify leading-loose">
      Ski room privatif chauffé en rez-de-chaussée.
    </p>

    <p class="text-justify leading-loose">
      Double parking en sous-sol desservi par l’ascenseur.
    </p>
  </div>

  <div id="descri-mob2" class="tiny clocher flex-auto mb-16">
    <%= image_tag "Description.jpg", alt: "alttext" %>
  </div>

</div>

