<div class="clocher flex-auto mr-32 mt-56">
  <%= image_tag "Clocher.jpg", alt: "alttext" %>
</div>

<div class="text-presentation flex-auto mr-24 mt-28">
  <h2 class= "mt-56 mb-8"> Descriptif </h2>
  <p class="text-justify leading-loose">
    Situé en 4ème et dernier étage de la toute récente résidence
    « les Choucas », sur une surface de110 m2, bénéficiant de
    grandes hauteurs sous plafond.
  </p>
  <p class="text-justify leading-loose">
    L’appartement présente 3 chambres (grands lits doubles), dont une Master
    Bedroom et un duplex privatif, toutes dotée d’un cabinet de toilette
    (douche ou bain). Toilettes indépendantes invités.
  </p>
  <p class="text-justify leading-loose">
    Cuisine spacieuse et fonctionnelle, ouverte sur la salle à manger
    lumineuse, pouvant accueillir jusqu’à 10 convives.
  </p>
  <p class="text-justify leading-loose">
    Confortable salon orienté sud-est, au panorama ouvrant sur le domaine
    skiable, dans une atmosphère douillette et chaleureuse, rendue conviviale
    ar la cheminée en pierre.
  </p>

  <p class="text-justify leading-loose">
    Un salon TV, modulable en espace de vie privatif pour la chambre en suite duplex.
  </p>

  <p class="text-justify leading-loose">
    Ski room privatif chauffé en rez-de-chaussée.
  </p>

  <p class="text-justify leading-loose">
    Double parking en sous-sol desservi par l’ascenseur.
  </p>
</div>
