  <div class="text-presentation flex-auto mr-24 mt-8">
    <h2 class= "mt-12 mb-8"> Les Équipements </h2>
    <p class="text-justify leading-loose">
      Code d’accès à la résidence, communs et ascenseur spacieux.
    </p>
    <p class="text-justify leading-loose">
      Nombreux rangements intégrés, Cheminée, TV, Wi-fi.
    </p>
    <p class="text-justify leading-loose">
      Double réfrigérateur, lave-vaisselle, plaques de cuisson à induction,
      four grand format, cave à vins, installation média haut de gamme.
    </p>
    <p class="text-justify mb-36 leading-loose">
      Skis room privatif chauffé en rez-de-chaussée, parking en sous-sol.
    </p>
  </div>

  <div class="exterieur flex-auto mr-16 ml-32">
    <%= image_tag "terrasse.png", alt: "alttext" %>
  </div>
