  <div class="footer flex">
    <div class="flex-initial">
      <h2 class="mb-4">Contact</h2>
      <p>SLA Sté Lyonnaise d’Aménagement <br>
      4, rue Clothilde Bizolon 69002 Lyon <br>
      Tel : 04.72.56.95.15</p>
    </div>
    <div id="nav-footer" class="flex-initial">
        <a class="text-black mx-16 inline" href="#accueil">Accueil</a>

        <a class="text-black mx-16 inline" href="#page2-A">Descriptif</a>

        <a class="text-black mx-16 inline" href="#page3-C">Service</a>

        <a class="text-black mx-16 inline" href="#page4-1">Galerie Photo</a>

        <a class="text-black mx-16 inline" href="#page5-1">Contact</a>

        <a class="text-black mx-16 inline" href="#page5-3">Situation</a>
      <h4 id="love-msg" class="footer-copyright text-black">This footer is made with <i class="fas fa-heart"></i> at Le Wagon</h4>
    </div>
  </div>
