
  <div id="nav-label" class="text-center">
    <h1 id="h1" class="pt-12 pb-8">
      LES CHOUCAS
    </h1>
    <h3 id="h3" class="mb-0 pb-8">
      Location appartement de standing supérieur au coeur des Alpes <br>
      Val D’Isère 1850, Savoie, France
    </h3>
  </div>
  <div>
    <%= render "shared/navbar" %>
  </div>
</div>

<div id="img" style="width: 100%" >
  <%= image_tag "dada.jpg", alt: "alttext", width: "100%" %>
</div>
