<!-- Button trigger modal -->
<div id="page4-2-btn" class="ml-14 mb-8 flex-initial" type="button" data-toggle="modal" data-target="#exampleModalCenter7">
  <%= image_tag "sejour.png", alt: "alttext", class: "img" %>
</div>

<!-- Modal -->
  <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div id="dialog-mo" class="flex-wrap modal-dialog modal-xl modal-dialog-centered" role="document">
      <div id="img-modal"><%= image_tag "sejour.png", alt: "alttext" %></div>
      <div id="btn-close" type="button" class="btn btn-light w-1/4 mx-auto" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">Close</span>
      </div>
    </div>
  </div>
