
<nav id="navnav" class="navbar navbar-expand-lg navbar-light bg-white pb-4">

  <div class="collapse navbar-collapse flex justify-center" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="text-black mx-16" href="#page2-A">Présentation</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page2-B">Descriptif</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page3-D">Services</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page3-C">Équipements</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page4-1">Galerie</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page5-1">Situation</a>
      </li>

    </ul>
  </div>

</nav>

