
<nav class="navbar navbar-expand-lg navbar-light bg-white pb-4">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">

      <li class="nav-item">
        <a class="text-black mx-16" href="#accueil">Accueil</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page2-A">Descriptif</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page3-C">Services</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page4-1">Galerie Photo</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page5-1">Contact</a>
      </li>

      <li class="nav-item">
        <a class="text-black mx-16" href="#page5-3">Situation</a>
      </li>

    </ul>
  </div>

</nav>
