<div class="text-presentation flex-auto mr-24 mt-20">
  <h2 class= "mt-56 mb-8"> Présentation </h2>
  <p class="text-justify mb-36 leading-loose"><strong>Au cœur de la station Village de Val d’Isère,</strong> résidez dans un espace résidentiel, lumineux, élégant et chaleureux.
    <strong>Un appartement au standing exigeant,</strong> offrant une élégante décoration contemporaine et un agencement idéal pour expérimenter un art de vivre la montagne confortable et intimiste.
    <strong>Une proposition de services haut de gamme</strong> pour un séjour sur mesure, sans contraintes, personnalisé dans un lieu raffiné et privatisé.
  </p>
</div>

<div class="exterieur flex-auto mr-16 ml-32 mt-56">
  <%= image_tag "exterieur-choucas.jpg", alt: "alttext" %>
</div>
