
<div class="text-presentation mx-10 lg:flex-auto lg:mr-24 lg:mt-20">
  <h2 id="h2" class= "lg:-mt-16 mb-8"> Présentation </h2>
  <p class="text-justify lg:mb-36 mb-16 lg:leading-loose leading-relaxed"><strong>Au cœur de la station Village de Val d’Isère,</strong> résidez dans un espace résidentiel, lumineux, élégant et chaleureux.
    <strong>Un appartement au standing exigeant,</strong> offrant une élégante décoration contemporaine et un agencement idéal pour expérimenter un art de vivre la montagne confortable et intimiste.
    <strong>Une proposition de services haut de gamme</strong> pour un séjour sur mesure, sans contraintes, personnalisé dans un lieu raffiné.
  </p>
</div>

<div class="exterieur lg:flex-auto ml-32">
  <%= image_tag "exterieur-choucas.jpg", alt: "alttext" %>
</div>
