
  <div class="text-presentation flex-inital mb-24">
    <h2 id="h2" class= " mt-12 mb-8 -mr-56"> Situation et Accès </h2>
    <ul class=" -mr-56">
      <li class="text-justify leading-loose font-bold">
        <strong>Adresse : </strong>
      </li>
      <li class="text-justify leading-loose">
        Avenue Olympique,<br>
        73150 Val-d'Isère<br>
      </li>

      <li class="text-justify leading-loose font-bold mt-6">
       <strong>Accès : </strong>
      </li>
      <li class="text-justify leading-loose mt-6">
        Autoroute A 43 de Lyon <br>
        Autoroute A 41 de Grenoble et Genève, puis A 430 à partir de de Chambéry et
        suivre la nationale N90 à partir de de Moûtiers.
      </li>

    </ul>
  </div>

