// #page3-D {
//   position: relative;
//   z-index: 4;
//   top: 500px;
// }

#page3-D .text-presentation {
  width: 40%;
}

#page3-D .text-presentation strong {
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
}

#page3-D .clocher {
  width: 500px;
}
