#page2-A {
  position: relative;
  z-index: 4;
  top: 800px;
}

#page2-A .text-presentation {
  width: 40%;
}

#page2-A .text-presentation strong {
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
}

#page2-A .exterieur {
  width: 500px;
}
