// #page2-A {
//   position: relative;
//   z-index: 4;
//   top: 800px;
// }

#aa {
  max-height: 600px;
  object-fit: scale-down;
}

#ll {
  max-height: 600px;
  object-fit: scale-down;
}

#bb {
  max-height: 600px;
  object-fit: scale-down;
}

#cc {
  max-height: 600px;
  object-fit: scale-down;
}

#dd {
  max-height: 600px;
  object-fit: scale-down;
}

#ee {
  max-height: 600px;
  object-fit: scale-down;
}

#ff {
  max-height: 600px;
  object-fit: scale-down;
}

#gg {
  max-height: 600px;
  object-fit: scale-down;
}

#hh {
  max-height: 600px;
  object-fit: scale-down;
}

#ii {
  max-height: 600px;
  object-fit: scale-down;
}

#jj {
  max-height: 600px;
  object-fit: scale-down;
}

#kk {
  max-height: 600px;
  object-fit: scale-down;
}

@media (min-width: 650px) {
  #page2-A .text-presentation {
    width: 40%;
  }
}

@media (max-width: 640px) {
  #page2-A .text-presentation {
    font-size: 16px;
  }
}

#page2-A .text-presentation strong {
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
}

#page2-A .exterieur {
  width: 500px;
}

@media (max-width: 650px) {
  #page2-A .exterieur {
    width: 90%;
    margin: auto;
  }
}
