// #page3-C {
//   position: relative;
//   z-index: 4;
//   top: 500px;
// }

#page3-C .text-presentation {
  width: 40%;
}

#page3-C .text-presentation strong {
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
}

#page3-C .exterieur {
  width: 500px;
}

// #p3 {
//   position: relative;
//   top: 200px;
// }

// #img-p3 {
//   position: relative;
//   top: 20px;
// }
