@import "bootstrap/scss/bootstrap";
@import "components/index";
@import 'mapbox-gl/dist/mapbox-gl';
// body {
// background-image:url("chalets.png");
// background-repeat: no-repeat;
// background-size: cover;
// }

body, html {

}


.container-c {
  width: 1500px;
  margin: auto;
}

@media (max-width: 640px) {
  .container-c {
    width: 450px;
    margin-left: 70px;
  }
}

@media (min-width: 640px) {
  #cont {
    width: 320px;
  }
}


#navnav {
  max-width: 1240px;
  margin: auto;
}

@media (max-width: 600px) {
  #img {
    width: 100vh !important;
  }
}

#h1 {
  font-family: 'Abril Fatface', cursive;
}

#h2 {
  font-family: 'Abril Fatface', cursive;
}

#h3 {
  font-family: 'Antic Didone', serif;
}

h1 {
  font-size: 56px !important;
  color: black;
}

@media (max-width: 415px) {
  h1 {
    font-size: 46px !important;
    color: black;
    margin: auto;
  }
}

h2 {
  font-size: 40px !important;
  color: black;
}

@media (max-width: 415px) {
  h2 {
    font-size: 30px !important;
  }
}

h3 {
  font-size: 22px !important;
  color: #9B9B9B;
}

@media (max-width: 415px) {
  h3 {
    font-size: 16px !important;
  }
}

h5 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px !important;
  color: black;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  font-size: 18px !important;
  color: black;
}

a {
  font-family: 'Yeseva One', cursive;
  font-size: 20px !important;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: black !important;
  font-weight: normal !important;
}

p {
  font-family: 'Antic Didone', serif;
  font-size: 22px !important;
  color: black;
}

@media (max-width: 415px) {
  p {
    font-size: 12px !important;
    strong {
      font-size: 12px !important;
    }
  }
}

li {
  font-family: 'Antic Didone', serif;
  font-size: 22px !important;
  color: black;
}

span {
    font-family: 'Antic Didone', serif;
  font-size: 22px !important;
  color: black;
}
